absl-py
colorama
comtypes
duckduckgo_search
keyboard
mediapipe
numpy
opencv-python
playsound
Pillow
psutil
PyAudio
pyautogui
pycaw
pygetwindow
pyjokes
pystray
pytesseract
pyttsx3
requests
screen_brightness_control
SpeechRecognition
Wikipedia-API
