absl-py
colorama
comtypes
duckduckgo_search
keyboard
mediapipe
numpy
opencv-python
playsound==1.2.2
Pillow
psutil
paho-mqtt
pyudev
PyAudio
pyautogui
pycaw
pygetwindow
pyjokes
pystray
pywin32
pypdf
pytesseract
pyttsx3
requests
screen_brightness_control
sounddevice
SpeechRecognition
Wikipedia-API
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
fastapi
faiss-cpu
fasttext
sentence-transformers
transformers
python-multipart
vaderSentiment
uvicorn
ultralytics
wmi
